<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ fabric_title }}</title>
  <meta charset="utf-8">
  <script src="main.js" defer></script>
</head>
<body style="margin: 0; padding: 0; height: 100vh; width: 100vw;">
  <div id="fabric" style="height: 100vh; width: 100vw;">
  </div>
</body>
</html>
